.footer-shadow {
    background-color: rgba(41, 20, 4, 1);
}

.footer {
    position: relative;
    background-image: url("../images/main/footer-background.png");
    background-size: cover;
    background-position: center;
}