@media (min-width: 0) {
    .left-container {
        margin-top: 20rem;
    }
    .right-block {
        margin-top: 15rem;
    }
    .main-logo {
        margin-top: 5rem;
        font-size: 5rem;
    }
    .main-title {
        margin-top: 20rem;
        font-size: 5rem;
    }
    .main-title-text {
        margin-top: 30rem;
        font-size: 3rem;
    }
    .main-button-down {
        margin-top: 35rem;
        font-size: 5rem;
    }
    .fs-1-5 {
        font-size: 1.5rem;
    }
    .fs-2 {
        font-size: 2rem;
    }
    .fs-3 {
        font-size: 3rem;
    }
    .menu-row {
        line-height: 8rem;
    }
    .menu-button {
        width: 8rem;
        height: 8rem;
    }
    .orders {
        margin-top: -7.5rem;
        margin-bottom: 0rem;
    }
    .main-image {
        background-size: cover;
    }
}

@media (max-width: 1680px) {
    .left-container {
        margin-top: 15rem;
    }
    .right-block {
        margin-top: 10rem;
    }
    .main-logo {
        margin-top: 2.5rem;
        font-size: 5rem;
    }
    .main-title {
        margin-top: 17.5rem;
        font-size: 4rem;
    }
    .main-title-text {
        margin-top: 25rem;
        font-size: 2rem;
    }
    .main-button-down {
        margin-top: 30rem;
        font-size: 4rem;
    }
    .fs-2 {
        font-size: 1.75rem;
    }
}

@media (max-width: 1280px) {
    .left-container {
        margin-top: 15rem;
    }
    .right-block {
        margin-top: 10rem;
    }
    .main-logo {
        margin-top: 5rem;
        font-size: 5rem;
    }
    .main-title {
        margin-top: 20rem;
        font-size: 4rem;
    }
    .main-title-text {
        margin-top: 27.5rem;
        font-size: 2rem;
    }
    .main-button-down {
        margin-top: 32.5rem;
        font-size: 4rem;
    }
    .fs-2 {
        font-size: 1.5rem;
    }
    .orders {
        margin-top: 0;
    }
    .main-image {
        background-size: unset;
    }
}

@media (max-width: 900px) {
    .left-container {
        margin-top: 30rem;
    }
    .right-block {
        margin-top: 27.5rem;
    }
    .main-logo {
        margin-top: 12.5rem;
        font-size: 5rem;
    }
    .main-title {
        margin-top: 27.5rem;
        font-size: 3rem;
    }
    .main-title-text {
        margin-top: 35rem;
        font-size: 1.75rem;
    }
    .main-button-down {
        margin-top: 40rem;
        font-size: 3rem;
    }
    .fs-2 {
        font-size: 1.5rem;
    }
    .main-image {
        min-height: 52.5rem;
    }
}

@media (max-width: 720px) {
    .left-container {
        margin-top: 40rem;
    }
    .main-logo {
        margin-top: 1rem;
        font-size: 5rem;
    }
    .main-title {
        margin-top: 15rem;
        font-size: 3rem;
    }
    .main-title-text {
        margin-top: 25rem;
        font-size: 1.75rem;
    }
    .main-button-down {
        margin-top: 30rem;
        font-size: 3rem;
    }
    .orders {
        margin-bottom: 15rem;
    }
}

.main-image {
    position: relative;
    background-image: url('../slider-one.png');
    background-position: center;
    height: 100%;
    min-height: 52.5rem;
    min-width: 100%;
}

.banner-back {
    height: 100%;
    min-height: 52.5rem;
    min-width: 100%;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

.menu-button {
    padding: 0;
    border-radius: 0;
    background-color: rgba(75, 43, 1, 0.75);
    border: none;
    outline: none !important;
}

.menu-button.active {
    background-color: rgba(234, 157, 42, 0.8);
}

.search {
    height: 3rem;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-bottom: 2px solid white;
    outline: none !important;
}

.search::placeholder {
    color: white;
}

.search-icon {
    cursor: pointer;
    color: white;
    margin-left: -2rem;
}

.phone-row {
    line-height: 3rem;
}

.call-row {
    margin-top: -1rem;
    line-height: 2rem;
}

.social-icon {
    margin: 0;
    line-height: 2rem;
}

.social-icon button {
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    outline: none !important;
}

.left-container {
    position: absolute;
    left: 0;
    width: 7.5rem;
    text-align: center;
    color: white;
}

.left-container-sm {
    position: absolute;
    left: 0;
    margin-top: 40rem;
    width: 100%;
    text-align: center;
    color: white;
}

.left-container-sm span.oi {
    font-size: 3rem;
}

.left-container-sm span.middle {
    font-size: 3rem;
}

.left-container-sm span.min {
    font-size: 2rem;
}

.left-container-sm span.micro {
    font-size: 1rem;
}

.left-block {
    position: relative;
    height: 7.5rem;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(119, 70, 5, 0.75);
    cursor: pointer;
}

.left-block-sm {
    position: relative;
    height: 40vw;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(119, 70, 5, 0.75);
    cursor: pointer;
}

.left-block.two {
    margin-top: 1rem;
}

.text-up-center {
    display: block;
    margin-top: -1rem;
    margin-bottom: -1rem;
}

.right-block {
    position: absolute;
    right: 0;
    height: 20rem;
    width: 5rem;
    background-color: rgba(0, 0, 0, 0.75);
    border-left: .25rem solid rgb(143, 85, 9);
    text-align: center;
    color: white;
    cursor: pointer;
}

.text-rotate {
    position: absolute;
    transform: rotate(-90deg);
    transform-origin: left top 0;
    bottom: 4rem;
    left: 1rem;
    width: max-content;
}

.text-align-right {
    text-align: right;
}

.right-icon {
    position: relative;
    top: 15rem;
}

.main-logo {
    position: absolute;
    width: 100%;
    text-align: center;
}

.main-title {
    position: absolute;
    width: 100%;
    text-align: center;
}

.main-title-text {
    position: absolute;
    width: 100%;
    text-align: center;
}

.main-button-down {
    position: absolute;
    width: 100%;
    text-align: center;
}

.desktop-menu {
    display: none;
    background-image: url("../images/menu-back.png");
    background-size: cover;
    background-color: #170A00;
    position: fixed;
    z-index: 999;
}

#menu-mobile {
    display: none;
}

.menu-item {
    font-size: 1.5rem;
}

.menu-item .active {
    font-size: 1.5rem;
    font-weight: 600;
    padding-bottom: .3rem;
    border-bottom: .3rem solid orange;
}

.nav-side-menu {
    min-height: 100vh;
    position: fixed;
    z-index: 999;
    overflow: auto;
    font-size: 1.5rem;
    background-color: #5A4436;
    height: 100%;
    color: #e1ffff;
}

.nav-side-menu .toggle-btn {
    display: none;
}

.nav-side-menu ul, .nav-side-menu li {
    list-style: none;
    padding: 0px;
    margin: 0px;
    line-height: 3rem;
    cursor: pointer;
    position: relative;
}

.nav-side-menu ul .active, .nav-side-menu li .active {
    background-color: rgb(78, 58, 47);
}

.nav-side-menu ul .sub-menu li, .nav-side-menu li .sub-menu li {
    background-color: rgb(78, 58, 47);
    border: none;
    line-height: 3rem;
}

.nav-side-menu ul .sub-menu li:hover, .nav-side-menu li .sub-menu li:hover {
    background-color: rgb(65, 48, 39);
}

.nav-side-menu li a {
    padding-left: 3rem;
    text-decoration: none;
    color: #e1ffff;
}

.nav-side-menu li img {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 40%;
}

.nav-side-menu li:hover {
    background-color: rgb(65, 48, 39);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.nav-side-menu .menu-list .menu-content {
    display: block;
}

@media (max-width: 767px) {
    .nav-side-menu {
        position: relative;
        width: 100%;
    }
}