body {
    background-image: url("../contentNumbersBack.png");
    background-repeat: repeat-y;
}

.content {
    position: relative;
}

.orders {
    background-image: url("../contentNumbersBack.png");
    height: 7.5rem;
}

.special-offers {
    background-image: url("../contentNumbersBack.png");
}

.slider-sales {
    background-image: url("../sales.png");
    background-position: center;
    background-size: cover;
    height: 40vw;
    max-height: 25rem;
    width: 100%;
    max-width: 45rem;
    position: relative;
}

.sales-shadow {
    position: relative;
    height: 40vw;
    max-height: 25rem;
    width: 100%;
    max-width: 45rem;
    right: -2rem;
    bottom: -2rem;
}

.sales-shadow.back {
    background-color: rgba(0, 0, 0, .5);
    z-index: -1;
}

.sales-shadow.image-one {
    position: absolute;
    background-image: url("../wood-horizont.png");
    background-position: bottom;
    z-index: -2;
    left: 0;
    top: 0;
}

.sales-slider {
    position: relative;
}

.sales-slider .owl-item img {
    position: relative;
    z-index: 20;
}

.sales-slider .owl-item div {
    transition: .3s;
    color: white;
    position: relative;
    margin: 5rem auto;
    width: 75%;
}

.sales-slider .owl-item.center div {
    position: relative;
    margin: 2rem auto;
    width: 95%;
}

.sales-slider .owl-item.center .shadow {
    position: absolute;
    bottom: -4rem;
    right: -2rem;
    background-image: url("../wood-horizont.png");
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: 19;
}

.sales-slider .owl-item.center .button {
    display: block;
    position: absolute !important;
    text-align: center;
    top: 70%;
    width: 100%;
    height: 100%;
    z-index: 21;
}

.sales-slider .owl-item .button {
    display: none;
}

.sales-slider .owl-item .text {
    position: absolute !important;
    text-align: center;
    top: 10%;
    width: 100%;
    height: 100%;
    z-index: 21;
    margin: 0 0;
}

.sales-slider .owl-item button {
    margin: 0 0;
    position: relative;
    background-color: orange;
    color: white;
    border: none;
    padding: .5rem 1rem;
    box-shadow: -.1rem -.1rem 0 white;
}

.sales-slider .owl-nav {
    width: 100%;
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: space-evenly;
}

.complex-top {
    background-image: url("../images/main/complex-top.png");
    background-size: cover;
    background-position: center;
}

.complex-top-text {
    left: 20%;
    top: 25%;
}

.wood-back {
    background-image: url("../images/main/wood-video.png");
}

.video-back {
    position: absolute;
    width: 30%;
    height: 100%;
    top: 0;
    right: 0;
    padding: 5rem 0 4rem 0;
}

.slider-photo {
    height: 500px;
}

a.slider {
    text-decoration: none !important;
    color: #594435;
}

.common-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

#inner-special-container-title{
    margin-top:2rem;
}

.inner-special-title-text {
    font-size: 2rem;
    text-transform: uppercase;
    padding-left: 2rem;
    padding-right: 2rem;
}

.awards {
    background-image: url("../images/main/back-awords.png");
}

/* Inputs order */

.input-group.date {
    border-radius: 0;
}

input.date {
    border: 1px solid #594435;
    border-radius: 0;
    height: 3rem;
    background-color: #594435 !important;
    color: white !important;
    padding-top: 1.5rem;
}

div.date {
    box-shadow: none !important;
    background-color: #594435 !important;
}

button.date {
    border: 0;
    border-radius: 0;
    height: 3rem;
    background-color: #594435 !important;
    box-shadow: none !important;
    padding: 0;
    margin: 0;
}

form>div {
    position: relative;
}

form>div>label {
    position: absolute;
}

label {
    font-weight: bold;
    color: #ECDBC5;
    pointer-events: none;
    position: absolute;
    top: 0;
    margin-top: .5rem;
    bottom: .2rem;
    left: 1rem;
    transition: 0.2s;
    font-size: 1.5rem;
}

input:focus, :valid+label {
    font-size: 14px;
    margin-top: 0;
}

input.guest {
    height: 3.5rem;
    background-color: #594435 !important;
    box-shadow: none !important;
    border-radius: 0;
    color: white !important;
    padding: .375rem .75rem;
    padding-top: 1.5rem;
}

@media (max-width:768px) {
    #inner-special-container-title img {
        display: none;
    }
    .inner-special-title-text{
        font-size: 1.5rem;
    }
}