body {
    font-family: 'Merriweather', serif;
}

.cp {
    cursor: pointer;
}

.reservation-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white!important;
    margin-top: -4rem;
    margin-bottom: 2rem;
    padding-left: 0;
    padding-right: 0;
    padding: 2rem;
}
#menu-desktop {
    height: 100vh;
}

.custom-breadcrumb {
    background-color: unset;
    font-size: 0.8rem;
}

.common-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

#inner-title {
    display: flex;
    align-items: center;
    justify-content: start!important;
}

.pink-background {
    background: url('../images/numbers/pinkBg.png');
    height: 100%;
}

.content-page-breadcrumbs a {
    color: #5A4436;
}

.breadcrumb-item+.breadcrumb-item::before {
    content: url('../images/numbers//beforecrumb.png');
}

#inner-table {
    background-color: white;
    margin-top: 2rem;
    color: #5A4436;
}

#inner-table tr:nth-of-type(odd) {
    background-color: #FFF9ED;
}

#inner-table th, #inner-table td {
    border-top: none;
}

#inner-table thead>tr>th {
    font-weight: 500;
    padding: 2rem;
}

#inner-table tbody>tr>th, #inner-table tbody>tr>td {
    padding: 2rem;
}

#numbers-back-img {
    position: absolute;
    right: 0;
    top: 5%;
    opacity: 0.5;
}

#inner-main-row {
    position: relative;
}

.inner-title-text {
    color: #5A4436;
    font-size: 1.1rem;
}

#inner-list {
    list-style: none;
    padding-left: 0;
    color: #5A4436;
    margin-top: 2rem;
}

#inner-list li {
    font-size: 0.9rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#inner-list li::before {
    content: url('../images/inner/before-list.png');
    margin-right: .5rem;
}

#formHeader hr {
    height: 10px;
    width: 15%;
    margin-left: 0;
}

.formHeader {
    color: #5A4437;
    font-size: 2rem;
    margin-top: 1rem;
}

#inner-form {
    margin-top: 1rem;
}

#inner-form .form-group {
    border: 2px solid #EEA51A;
    border-radius: 5px;
    margin-bottom: 1.5rem;
}

#inner-form input {
    padding: 2rem 1rem;
}

#inner-form .form-group>input {
    border: none;
}

.form-control:focus {
    border: none;
    box-shadow: none;
}

#submit-contacts-btn {
    border: 1px solid #EEA51A;
    text-transform: uppercase;
    border-radius: none!important;
    font-size: 14px;
}

#submit-contacts-btn:hover {
    color: #EEA51A!important;
    background-color: white!important;
}

.hall-button {
    background-color: #EEA51A;
    color: white;
    border: none;
    padding: 1rem;
    position: relative;
    z-index: 10;
}

#contacts-personal-data-block {
    align-items: center;
    margin-right: 1rem;
    display: inline-flex;
}

#personal-data-text {
    margin-left: 1rem;
    color: #5A4437;
    font-size: 12px;
    font-style: italic;
    font-family: 'Merriweather', serif;
}

#form-check {
    -webkit-appearance: none;
    border: 2px solid #EEA51A;
    padding: .5rem!important;
}

#form-check:checked {
    box-shadow: #EEA51A;
    background-color: #EEA51A;
    border: 2px solid black;
}

.inner-btn-border-black {
    width: 100%;
    height: 100%;
    position: absolute;
    border: 1px solid #D6C1B0;
    top: -.4rem;
    border-radius: 2px;
    left: -.4rem;
    z-index: 1;
}

#contacts-button-container {
    position: relative;
    display: inline-block;
}

#contacts-form-bottom-container {
    padding-left: 0.5rem;
}

#formQuestion {
    height: 150px;
}

#inner-bot-left-text {
    color: #5A4437;
    font-size: 0.9rem;
    margin-top: 2rem;
}

.inner-bot-left-title {
    font-weight: bold;
}

#inner-bot-card-block {
    border-left: 5px solid #EEA51A;
    margin: 2rem;
}

#inner-bot-left-card {
    background-color: white;
    display: flex;
    margin-top: 2rem;
}

#inner-bot-card-block p {
    margin-left: 1rem;
    color: #5A4437;
    font-size: 0.9rem;
}

#bot-form-container hr {
    height: 10px;
    width: 15%;
    margin-left: 0;
}

#bot-form-container {
    margin-top: 2rem;
}

.inner-special-title-text {
    font-size: 2rem;
    color: #5A4436;
    text-transform: uppercase;
    padding-left: 2rem;
    padding-right: 2rem;
}

.sales-slider {
    position: relative;
}

.sales-slider .owl-item img {
    position: relative;
    z-index: 20;
}

/* .sales-slider,.owl-item,.active,.center img{
    height: unset!important;
} */

.sales-slider .owl-item div {
    transition: .3s;
    color: white;
    position: relative;
    margin: 5rem auto;
    width: 75%;
}

.sales-slider .owl-item.center div {
    position: relative;
    margin: 2rem auto;
    width: 95%;
}

.sales-slider .owl-item.center .shadow {
    position: absolute;
    bottom: -4rem;
    right: -2rem;
    background: url("../images/numbers/wood-horizont.png");
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: 19;
}

.sales-slider .owl-item.center .button {
    display: block;
    position: absolute !important;
    text-align: center;
    top: 70%;
    width: 100%;
    height: 100%;
    z-index: 21;
}

.sales-slider .owl-item .button {
    display: none;
}

.sales-slider .owl-item .text {
    position: absolute !important;
    text-align: center;
    top: 10%;
    width: 100%;
    height: 100%;
    z-index: 21;
    margin: 0 0;
}

.sales-slider .owl-item button {
    margin: 0 0;
    position: relative;
    background-color: orange;
    color: white;
    border: none;
    padding: .5rem 1rem;
    box-shadow: -.1rem -.1rem 0 white;
}

.sales-slider .owl-nav {
    width: 100%;
    position: absolute;
    top: 45%;
    display: flex;
    justify-content: space-evenly;
}

.sales-slider-counter {
    text-align: center;
}
#inner-special-container-title{
    margin-top:2rem;
}
/* Inputs order */

.input-group.date {
    border-radius: 0;
}

input.date {
    border: 1px solid #594435;
    border-radius: 0;
    height: 3rem;
    background-color: #594435 !important;
    color: white !important;
    padding-top: 1.5rem;
}

div.date {
    box-shadow: none !important;
    background-color: #594435 !important;
}

button.date {
    border: 0;
    border-radius: 0;
    height: 3rem;
    background-color: #594435 !important;
    box-shadow: none !important;
    padding: 0;
    margin: 0;
}

form>div {
    position: relative;
}

form>div>label {
    position: absolute;
}

label {
    font-weight: bold;
    color: #ECDBC5;
    pointer-events: none;
    position: absolute;
    top: 0;
    margin-top: .5rem;
    bottom: .2rem;
    left: 1rem;
    transition: 0.2s;
    font-size: 1.5rem;
}

input:focus, :valid+label {
    font-size: 14px;
    margin-top: 0;
}

input.guest {
    height: 3.5rem;
    background-color: #594435 !important;
    box-shadow: none !important;
    border-radius: 0;
    color: white !important;
    padding: .375rem .75rem;
    padding-top: 1.5rem;
}
@media (max-width:768px) {
    #inner-table {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
    #contacts-button-container {
        margin-top: 1.5rem;
        order: 2;
    }
    #contacts-form-bottom-container {
        flex-wrap: wrap;
    }
    #contacts-personal-data-block {
        margin-left: 0.4rem;
        order: 1;
    }
    #inner-special-container-title img {
        display: none;
    }
    .inner-special-title-text{
        font-size: 1.5rem;
    }
    .sales-slider .owl-nav {
        bottom: -2rem;
        top:unset;
    }
    #numbers-back-img{
        display: none;
    }
}