@media (min-width: 0) {
    .fs-1-5 {
        font-size: 1.5rem;
    }
    .fs-2 {
        font-size: 2rem;
    }
    .fs-3 {
        font-size: 3rem;
    }
}

@media (max-width: 1680px) {
    .fs-2 {
        font-size: 1.75rem;
    }
}

@media (max-width: 1280px) {
    .fs-2 {
        font-size: 1.5rem;
    }
}

@media (max-width: 900px) {
    .fs-2 {
        font-size: 1.5rem;
    }
}

body {
    font-family: 'Merriweather', serif;
}

.back-shadow {
    background-color: rgba(0, 0, 0, .5);
}

.min-h-20 {
    min-height: 20rem;
}

.t-70 {
    top: 70%;
}

.l-10 {
    left: 10%;
}

.sp-40 {
    width: 40%;
    height: 40%;
}

.inline-border {
    outline: 1px solid rgb(223, 180, 125);
    outline-offset: -1.5rem;
}

.inline-border-min {
    outline: 1px solid rgb(223, 180, 125);
    outline-offset: -.5rem;
}

.center {
    text-align: center;
}

.lh-3 {
    line-height: 4rem;
}

.brown {
    background-color: rgba(75, 43, 1, 0.75);
}

.black {
    background-color: rgba(0, 0, 0, 0.75);
}

.white {
    color: white;
}

.wheat {
    color: wheat;
}

b-2 {
    bottom: 2rem;
}

.c-p {
    cursor: pointer;
}

.pos-left {
    position: absolute;
    left: 0;
    top: 0;
    opacity: .8;
}

.pos-right {
    position: absolute;
    right: 0;
    top: 0;
    opacity: .8;
}

.w-80 {
    width: 80%;
}

.pos-rel {
    position: relative;
}

.brown-text {
    color: #594435;
}