body {
    font-family: 'Merriweather', serif;
}

.cp {
    cursor: pointer;
}

.custom-breadcrumb {
    background-color: unset;
}

.common-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pink-background {
    background: url('../images/numbers/pinkBg.png');
    height: 100%;
    position: relative;
}

.content-page-breadcrumbs a {
    color: #5A4436;
}

.breadcrumb-item+.breadcrumb-item::before {
    content: url('../images/numbers//beforecrumb.png');
}

.numbers-title-text {
    font-size: 2rem;
    color: #5A4436;
    text-transform: uppercase;
    padding-left: 2rem;
    padding-right: 2rem;
}

#numbers-top-items {
    display: flex;
    border-left: 0.5rem solid #EEA51A;
    padding: 1rem;
    background-color: white;
}

.numbers-top-elem {
    display: inline;
    margin-left: auto;
    margin-right: auto;
}

#numbers-top-items-container {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

#numbers-lux-block {
    /* padding-left: 6rem;
    padding-right: 6rem; */
}

.lux-item-block {
    border-top: 0.5rem solid #EEA51A;
    margin-top: 2rem;
}

.lux-item-img {
    width: 100%;
}

.lux-title {
    color: white;
    text-align: center;
    margin-top: 3rem;
    font-size: 1.5rem;
}

.lux-item-right {
    background: url('../images/numbers/hallwood.png');
    background-size: cover;
    text-align: center;
}

.lux-item-right .more-photos {
    margin-top: 1.5rem;
}

.lux-item-right hr {
    height: 1px;
    width: 3rem;
}

.lux-card-price {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 1.5rem;
}

.hall-button {
    background-color: #EEA51A;
    color: white;
    border: none;
    padding: 1rem;
    position: relative;
    z-index: 10;
}

.hall-button-container {
    position: relative;
    margin-top: 1.5rem;
    display: inline-block;
    text-align: center;
}

.more-photos-link {
    color: white;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.more-photos-link:hover {
    color: white;
}

.inner-btn-border {
    width: 100%;
    height: 100%;
    position: absolute;
    border: 1px solid white;
    top: -.4rem;
    left: -.4rem;
    z-index: 1;
}

.lux-list {
    display: inline-block;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: left;
}

.lux-list ul {
    list-style-type: none;
    padding-left: 0;
}

.lux-list ul>li>img {
    margin-right: 1rem;
}

.lux-card-price {
    margin-bottom: 1rem;
}

.lux-item-block .owl-item>img {
    height: 100%;
}

#cottages-container {
    margin-top: 4rem;
}

#our-numbers-title, #our-cottages-title {
    z-index: 10;
    position: relative;
}

#our-numbers-title img {
    opacity: 0.4;
}

#numbers-cottages-block {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#numbers-bottom-container {
    background-color: white;
    border-left: 0.5rem solid #EEA51A;
    padding-left: 1.5rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-right: 1.5rem;
    margin-bottom: 2rem;
    color: #5A4436;
}

.numbers-top-elem img {
    margin-right: .5rem;
}

.bot-card-left {
    display: flex;
    flex-direction: column;
}

.bot-card-left-title {
    color: #593F2E;
    font-weight: bold;
    font-size: 1.1rem;
}

.bot-card-left-text {
    font-size: 0.8rem;
}

.sales-slider {
    position: relative;
}

.sales-slider .owl-item img {
    position: relative;
    z-index: 20;
}

/* .sales-slider,.owl-item,.active,.center img{
    height: unset!important;
} */

.sales-slider .owl-item div {
    transition: .3s;
    color: white;
    position: relative;
    margin: 5rem auto;
    width: 75%;
}

.sales-slider .owl-item.center div {
    position: relative;
    margin: 2rem auto;
    width: 95%;
}

.sales-slider .owl-item.center .shadow {
    position: absolute;
    bottom: -4rem;
    right: -2rem;
    background: url("../images/numbers/wood-horizont.png");
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: 19;
}

.sales-slider .owl-item.center .button {
    display: block;
    position: absolute !important;
    text-align: center;
    top: 70%;
    width: 100%;
    height: 100%;
    z-index: 21;
}

.sales-slider .owl-item .button {
    display: none;
}

.sales-slider .owl-item .text {
    position: absolute !important;
    text-align: center;
    top: 10%;
    width: 100%;
    height: 100%;
    z-index: 21;
    margin: 0 0;
}

.sales-slider .owl-item button {
    margin: 0 0;
    position: relative;
    background-color: orange;
    color: white;
    border: none;
    padding: .5rem 1rem;
    box-shadow: -.1rem -.1rem 0 white;
}

.sales-slider .owl-nav {
    width: 100%;
    position: absolute;
    top: 45%;
    display: flex;
    justify-content: space-evenly;
}

.sales-slider-counter {
    text-align: center;
}

#bot-card-key-img {
    position: absolute;
    right: 0;
    top: 25%;
    opacity: 0.5;
}
.lux-list ul>li{
    margin-top: 0.5rem;
}
/* Inputs order */

.input-group.date {
    border-radius: 0;
}

input.date {
    border: 1px solid #594435;
    border-radius: 0;
    height: 3rem;
    background-color: #594435 !important;
    color: white !important;
    padding-top: 1.5rem;
}

div.date {
    box-shadow: none !important;
    background-color: #594435 !important;
}

button.date {
    border: 0;
    border-radius: 0;
    height: 3rem;
    background-color: #594435 !important;
    box-shadow: none !important;
    padding: 0;
    margin: 0;
}

form>div {
    position: relative;
}

form>div>label {
    position: absolute;
}

label {
    font-weight: bold;
    color: #ECDBC5;
    pointer-events: none;
    position: absolute;
    top: 0;
    margin-top: .5rem;
    bottom: .2rem;
    left: 1rem;
    transition: 0.2s;
    font-size: 1.5rem;
}

input:focus, :valid+label {
    font-size: 14px;
    margin-top: 0;
}

input.guest {
    height: 3.5rem;
    background-color: #594435 !important;
    box-shadow: none !important;
    border-radius: 0;
    color: white !important;
    padding: .375rem .75rem;
    padding-top: 1.5rem;
}
.reservation-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white!important;
    margin-top: -4rem;
    margin-bottom: 2rem;
    padding-left: 0;
    padding-right: 0;
    padding: 2rem;
    z-index: 99;
}
#numbers-bg-image-num{
    position: absolute;
    right: 0;
    opacity: 0.5;
    top:3.5rem;
}

@media (max-width:768px) {
    #numbers-top-items {
        flex-direction: column;
    }
    .numbers-top-elem {
        margin-top: 0.4rem;
        margin-bottom: 0.4rem;
    }
    #numbers-main-container {
        padding-left: 1rem!important;
        padding-right: 1rem!important;
    }
    .pink-background {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        position: relative;
    }
    #numbers-lux-block {
        padding-left: 0;
        padding-right: 0;
    }
    #our-numbers-title img,#our-cottages-title img{
        display: none;
    }
    .lux-item-block{
        margin-left:0;
        margin-right: 0;
    }
    #numbers-cottages-block{
        padding-left:0;
        padding-right:0;
    }
    .lux-item-right .more-photos{
        margin-bottom: 2rem;
    }
    .numbers-title-text{
        font-size: 1.5rem;
    }
    .lux-list{
        margin-top:1rem;
        margin-bottom: 1rem;
    }
    .lux-title{
        margin-top:1rem;
    }
    .lux-list ul{
        margin-bottom: 0;
    }
    .sales-slider .owl-nav {
        top:unset;
    }
}