body {
    font-family: 'Merriweather', serif;
}

.cp {
    cursor: pointer;
}

.reservation-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white!important;
    margin-top: -4rem;
    margin-bottom: 2rem;
    padding-left: 0;
    padding-right: 0;
    padding: 2rem;
    z-index: 99;
}

.custom-breadcrumb {
    background-color: unset;
    font-size: 0.8rem;
}

.content-page-breadcrumbs a {
    color: #5A4436;
}

.breadcrumb-item+.breadcrumb-item::before {
    content: url('../images/numbers//beforecrumb.png');
}
#page-back-img {
    position: absolute;
    right: 0;
    top: 3rem;
    opacity: 0.5;
}
.pink-background {
    background: url('../images/numbers/pinkBg.png');
    height: 100%;
    position: relative;
}
/* Inputs order */

.input-group.date {
    border-radius: 0;
}

input.date {
    border: 1px solid #594435;
    border-radius: 0;
    height: 3rem;
    background-color: #594435 !important;
    color: white !important;
    padding-top: 1.5rem;
}

div.date {
    box-shadow: none !important;
    background-color: #594435 !important;
}

button.date {
    border: 0;
    border-radius: 0;
    height: 3rem;
    background-color: #594435 !important;
    box-shadow: none !important;
    padding: 0;
    margin: 0;
}

form>div {
    position: relative;
}

form>div>label {
    position: absolute;
}

label {
    font-weight: bold;
    color: #ECDBC5;
    pointer-events: none;
    position: absolute;
    top: 0;
    margin-top: .5rem;
    bottom: .2rem;
    left: 1rem;
    transition: 0.2s;
    font-size: 1.5rem;
}

input:focus, :valid+label {
    font-size: 14px;
    margin-top: 0;
}

input.guest {
    height: 3.5rem;
    background-color: #594435 !important;
    box-shadow: none !important;
    border-radius: 0;
    color: white !important;
    padding: .375rem .75rem;
    padding-top: 1.5rem;
}
.page-title {
    font-size: 2rem;
    color: #5A4436;
    text-transform: uppercase;
    padding-left: 2rem;
    padding-right: 2rem;
}
.common-title {
    display: flex;
    align-items: center;
    justify-content: center;
}
.page-title-text{
    color: #5A4436;
    text-align:center;
    line-height: 2rem;
}
.sales-slider {
    position: relative;
}

.sales-slider .owl-item img {
    position: relative;
    z-index: 20;
}

/* .sales-slider,.owl-item,.active,.center img{
    height: unset!important;
} */

.sales-slider .owl-item div {
    transition: .3s;
    color: white;
    position: relative;
    margin: 5rem auto;
    width: 75%;
}

.sales-slider .owl-item.center div {
    position: relative;
    margin: 2rem auto;
    width: 95%;
}

.sales-slider .owl-item.center .shadow {
    position: absolute;
    bottom: -4rem;
    right: -2rem;
    background: url("../images/numbers/wood-horizont.png");
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: 19;
}

.sales-slider .owl-item.center .button {
    display: block;
    position: absolute !important;
    text-align: center;
    top: 70%;
    width: 100%;
    height: 100%;
    z-index: 21;
}

.sales-slider .owl-item .button {
    display: none;
}

.sales-slider .owl-item .text {
    position: absolute !important;
    text-align: center;
    top: 10%;
    width: 100%;
    height: 100%;
    z-index: 21;
    margin: 0 0;
}

.sales-slider .owl-item button {
    margin: 0 0;
    position: relative;
    background-color: orange;
    color: white;
    border: none;
    padding: .5rem 1rem;
    box-shadow: -.1rem -.1rem 0 white;
}

.sales-slider .owl-nav {
    width: 100%;
    position: absolute;
    top: 45%;
    display: flex;
    justify-content: space-evenly;
}

.sales-slider-counter {
    text-align: center;
}
#inner-special-container-title{
    margin-top:2rem;
}
#page-info-block{
    padding-right: 0;
    padding-left: 0;
    color:#ffffff;
}
.menu-slider-buttons {
    padding: 1rem;
    background-color: #5A4437;
    color: black;
}
.menu-slider-buttons:hover {
    background-color: #EEA51A;
}
.inner-page-slider .owl-nav {
    position: absolute;
    right: 0;
    bottom: 0;
}
#page-info-container{
    background:url('../individualmenu.png');
    margin-top: 4rem;
}
#page-info-left{
    margin-top:-3rem;
    margin-bottom: -3rem;
}
.page-info-list{
    list-style: none;
    padding-left: 0;
    color: #ffffff;
    margin-top: 1rem;
}
.page-info-list li {
    font-size: 0.9rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.page-info-list li::before {
    content: url(../images/page/before-list-item.png);
    margin-right: .5rem;
}
.page-info-right-title{
    color:white;    
    font-size:1.5rem;
}
#page-info-right-row{
    height: 100%;
    padding:2rem;

}
.page-info-right-block{
    display: flex;
    flex-direction: column;
}
.hall-button {
    background-color: #EEA51A;
    color: white;
    border: none;
    padding: 1rem;
    position: relative;
    z-index: 10;
}
.inner-btn-border-black {
    width: 100%;
    height: 100%;
    position: absolute;
    border: 1px solid #D6C1B0;
    top: -.4rem;
    border-radius: 2px;
    left: -.4rem;
    z-index: 1;
}
#reservation-button-container{
    position: relative;
    margin-top: auto;
}
#rules-button-container{
    position: relative;
    margin-top: auto;
}
.hall-button:hover {
    color: #EEA51A!important;
    background-color: white!important;
}
#reservation-contacts-btn{
    width: 100%;
    text-transform: uppercase;
    font-size: .9rem;
}
#rules-contacts-btn{
    width: 100%;
    color: white;
    border: 1px solid #EEA51A;
    padding: 1rem;
    z-index: 10;
    text-transform: uppercase;
    font-size: .8rem;
}