body {
    font-family: 'Merriweather', serif;
}

.cp {
    cursor: pointer;
}

.custom-breadcrumb {
    background-color: unset;
}

.reservation-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white!important;
    margin-top: -4rem;
    margin-bottom: 2rem;
    padding-left: 0;
    padding-right: 0;
    padding:2rem;
}

#reservation-button {
    background: url('knopkaBronirovanie.png');
    border: none;
}

#reservation-button:hover {
    cursor: pointer;
}

#reservation-button img {
    height: 130px;
}

#reservation-text-left {
    margin-left: 2rem;
    color: #5A4436;
    font-size: 1.5rem;
}

.organization-title {
    font-size: 2rem;
    color: #5A4436;
    text-transform: uppercase;
    padding-left: 2rem;
    padding-right: 2rem;
}

#individual-title-text {
    padding-left: 1rem;
    padding-right: 1rem;
}

.organization-small-item {
    outline: 1px solid #EEA51A;
    outline-offset: -0.5rem;
    background: url('images/content/organizationSmallItemBack.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 6.5rem;
    width: 6.5rem;
    display: flex;
}

.organization-small-item img {
    padding: 1.75rem;
    display: block;
    margin: auto auto;
}

#organization-left-block-text {
    line-height: 1.6rem;
}

/* .reservation-block span{

} */

.content-datepicker {
    background-color: #5A4436;
    border: none;
}

.content-datepicker:hover {
    cursor: pointer;
}

.content-page-breadcrumbs a {
    color: #5A4436;
}

#organization-left-block {
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: #5A4436;
    margin-left: 0;
    margin-right: 0;
    padding-left: 4rem;
    padding-right: 4rem;
}

.wedding-advantages-item {
    font-size: 12px;
    display: inline-flex;
    align-items: center;
    padding: 0;
    line-height: unset!important;
    margin-top: 1rem;
}

.wedding-advantages-item span {
    margin-left: 1rem;
}

.wedding-advantages-block {
    padding: 0;
}

.nav-hall .nav-link.active {
    border-bottom: 4px solid #EEA51A;
}

.nav-hall .nav-link {
    text-transform: uppercase;
    color: #5A4436;
}

.hall-content-left {
    padding: 0;
}

.hall-content-left img {
    height: 100%;
    width: 100%;
}

.hall-content-right {
    background: url('hallwood.png');
    background-size: cover;
}

.hall-content-right hr {
    height: 1px;
    width: 3rem;
}

.hall-title {
    color: white;
    text-transform: uppercase;
    margin-top: 3rem;
}

.hall-list {
    margin-top: 2rem;
}

.hall-list ul {
    font-family: 'Times New Roman', Times, serif;
    color: #D6C1B0;
}

#keyhall {
    position: absolute;
    top: 5rem;
    right: -7rem;
}

.hall-button {
    background-color: #EEA51A;
    color: white;
    border: none;
    padding: 1rem;
    position: relative;
    z-index: 10;
}

.hall-button-container {
    position: relative;
    margin-top: 1.5rem;
    display: inline-block;
}

.hall-button:hover {
    cursor: pointer;
}

#individual-menu-block {
    background: url('individualmenu.png');
    background-size: cover;
    padding: 0;
}

.individual-menu-title {
    color: white;
    text-transform: uppercase;
    margin-top: 3rem;
    font-size: 2rem;
}

.individual-content-left {
    color: white;
    margin: 2rem 3rem;
}

.individual-text-block {
    border-top: 2px solid white;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    border-left: 35px solid #EEA51A;
    padding: 1rem 2rem;
}

.individual-content-right {
    padding: 0;
    margin-top: 2rem;
    padding-right: 3rem;
    margin-bottom: 3rem;
}

.individual-slider {}

.individual-slider .owl-prev {
    bottom: -2.9rem;
    position: absolute;
    left: -6.9rem;
}

.individual-slider .owl-next {
    bottom: -2.9rem;
    position: absolute;
    left: -3.4rem;
}

.menu-slider-buttons {
    padding: 1rem;
    background-color: #5A4437;
    color: black;
}

.menu-slider-buttons:hover {
    background-color: #EEA51A;
}

.wedding-slider-buttons {
    padding: 1rem;
    background-color: #5A4437;
    color: black;
}

.wedding-slider-buttons:hover {
    background-color: #EEA51A;
}

.more-photos {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    margin-bottom: 1rem;
    padding-top: 2rem;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}

.lux-numbers-button, .platform-button {
    margin-top: 1.5rem;
    background-color: #EEA51A;
    border: none;
    color: white;
    padding: 1rem;
}

.btn-form-submit {
    background-color: #EEA51A;
    border: none;
    padding: 1rem;
}

.wedding-content-left {
    margin-top: -1rem;
    margin-bottom: -2.5rem;
}

.wedding-slider .owl-nav {
    position: absolute;
    right: 0;
    bottom: 1.5rem;
}

.formHeader {
    color: #5A4437;
    font-size: 2rem;
}

#organization-left-text {
    word-spacing: 3px;
    font-size: 14px;
}

#formQuestion {
    height: 120px;
}

#wedding-form .form-group {
    border: 2px solid #EEA51A;
    border-radius: 5px;
    margin-bottom: 1.5rem;
}

#wedding-form .form-group>input {
    border: none;
}

#wedding-form input {
    padding: 2rem 1rem;
}

#wedding-form {
    margin-bottom: 4rem;
}

#map {
    position: relative;
}

#contacts-block {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    padding-left: 0;
    padding-right: 0;
    z-index: 10;
}

#contacts-card {
    background-color: white;
    padding: 1rem 3rem;
}

#contacts-card p {
    margin-top: 1rem;
}

#contacts-card img {
    position: absolute;
    right: 0;
    top: 0;
    filter: grayscale(100%);
    opacity: 0.2;
}

#contacts-card-header {
    font-size: 2rem;
    color: #5A4436;
    text-transform: uppercase;
    text-align: center;
}

#contacts-card-body {
    color: #5A4437;
    line-height: 28px;
    margin-top: 1.5rem;
}

.phone {
    color: #EEA51A;
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
}

.yellow-text-contacts {
    color: #EEA51A;
    font-size: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
}

.yellow-text-contacts:hover {
    color: #EEA51A;
}

.form-control:focus {
    border: none;
    box-shadow: none;
}

.breadcrumb-item+.breadcrumb-item::before {
    content: url('beforecrumb.png');
}

.hall-list ul {
    list-style: none;
}

.hall-list li::before {
    content: url('beforeli.png');
}

.more-photos a {
    color: white;
}

.more-photos-link {
    margin-left: 1rem;
    margin-right: 1rem;
}

.footer {
    position: relative;
    background-image: url("images/main/footer-background.png");
    background-size: cover;
    background-position: center;
}

.footer-shadow {
    background-color: rgba(41, 20, 4, 1);
}

.social-icon {
    margin: 0;
    line-height: 2rem;
}

.social-icon button {
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    outline: none !important;
}

.back-shadow {
    background-color: rgba(0, 0, 0, .5);
}

.footer-shadow {
    background-color: rgba(41, 20, 4, 1);
}

.common-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-btn-border {
    width: 100%;
    height: 100%;
    position: absolute;
    border: 1px solid white;
    top: -.4rem;
    left: -.4rem;
    z-index: 1;
}

.inner-btn-border-black {
    width: 100%;
    height: 100%;
    position: absolute;
    border: 1px solid #D6C1B0;
    top: -.4rem;
    border-radius: 2px;
    left: -.4rem;
    z-index: 1;
}

#contacts-back-img {
    position: absolute;
    top: -3rem;
    left: 3rem;
}

::-webkit-input-placeholder {
    font-style: italic;
}

:-moz-placeholder {
    font-style: italic;
}

::-moz-placeholder {
    font-style: italic;
}

:-ms-input-placeholder {
    font-style: italic;
}

#personal-data-text {
    margin-left: 1rem;
    color: #5A4437;
    font-style: italic;
    font-family: 'Merriweather', serif;
}

#form-check {
    -webkit-appearance: none;
    border: 2px solid #EEA51A;
    padding: .5rem!important;
}

#form-check:checked {
    box-shadow: #EEA51A;
    background-color: #EEA51A;
    border: 2px solid black;
}

#submit-contacts-btn {
    border: 1px solid #EEA51A;
    text-transform: uppercase;
    border-radius: none!important;
}

#submit-contacts-btn:hover {
    color: #EEA51A!important;
    background-color: white!important;
}

#contacts-button-container {
    position: relative;
    display: inline-block;
}

#wedding-button-container {
    position: relative;
    display: inline-block;
    margin-top: 2rem;
    margin-left: .4rem;
}

#contacts-form-bottom-container {
    padding-left: 0.5rem;
}

#contacts-personal-data-block {
    align-items: center;
    margin-right: 1rem;
    display: inline-flex;
}
/* Inputs order */

.input-group.date {
    border-radius: 0;
}

input.date {
    border: 1px solid #594435;
    border-radius: 0;
    height: 3rem;
    background-color: #594435 !important;
    color: white !important;
    padding-top: 1.5rem;
}

div.date {
    box-shadow: none !important;
    background-color: #594435 !important;
}

button.date {
    border: 0;
    border-radius: 0;
    height: 3rem;
    background-color: #594435 !important;
    box-shadow: none !important;
    padding: 0;
    margin: 0;
}

form>div {
    position: relative;
}

form>div>label {
    position: absolute;
}

label {
    font-weight: bold;
    color: #ECDBC5;
    pointer-events: none;
    position: absolute;
    top: 0;
    margin-top: .5rem;
    bottom: .2rem;
    left: 1rem;
    transition: 0.2s;
    font-size: 1.5rem;
}

input:focus, :valid+label {
    font-size: 14px;
    margin-top: 0;
}

input.guest {
    height: 3.5rem;
    background-color: #594435 !important;
    box-shadow: none !important;
    border-radius: 0;
    color: white !important;
    padding: .375rem .75rem;
    padding-top: 1.5rem;
}

[class*="ymaps-2"][class*="-ground-pane"] {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    /* Firefox 3.5+ */
    -webkit-filter: grayscale(100%);
    /* Chrome 19+ & Safari 6+ */
}

@media (max-width:768px) {
    #contacts-button-container {
        margin-top: 1.5rem;
        order: 2;
    }
    #contacts-form-bottom-container {
        flex-wrap: wrap;
    }
    #contacts-personal-data-block {
        margin-left: 0.4rem;
        order: 1;
    }
    .common-title img:nth-child(1) {
        display: none;
    }
    .common-title img {
        width: 100%;
    }
    .individual-menu-title img {
        width: 100%;
    }
    .individual-menu-title img:nth-child(1) {
        display: none;
    }
    #contacts-card {
        max-width: unset;
    }
    #contacts-block {
        position: unset;
    }
    .lux-numbers-button {
        font-size: 12px;
    }
    .individual-content-left {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 1.5rem;
    }
    .individual-content-right {
        padding-left: 1rem;
        padding-right: 1rem;
        margin-bottom: 1rem;
    }
    .reservation-block {
        flex-wrap: wrap;
    }
    .reservation-block input {
        width: 100%;
        /* margin: 0.5rem; */
    }
    #organization-left-block {
        padding-left: 0;
        padding-right: 0;
    }
    #organization-right-image {
        padding-left: 0;
        padding-right: 0;
        margin-top: 2rem;
    }
    .organization-title {
        padding-left: 0;
        padding-right: 1rem;
    }
    #keyhall {
        position: relative;
        display: none;
    }
    .individual-slider .owl-next, .individual-slider .owl-prev {
        position: relative;
        bottom: 0;
        left: 0;
    }
    .individual-slider .owl-nav {
        display: flex;
        justify-content: center;
        margin-top: 2rem;
    }
    .wedding-content-left {
        margin-top: 1.5rem;
        margin-bottom: 0;
    }
}